
html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: normal 1em 'trebuchet ms', arial, sans-serif;
	color: #5D5D5D;

}

p {
	padding: 0 0 15px 0;
	line-height: 1.5em;
}

img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	font: normal 175% 'century gothic', arial, sans-serif;
	color: #E32E78;
	margin: 0 0 15px 0;
	padding: 5px 0 5px 0;
}

#rulesPanel {
	position: fixed;
	top: 11.5%;
	left: 0%;
	width: 20%;
	height: 100%;
	background-color: gray;
}

#gameAreaPanel {
	position: fixed;
	top: 11.5%;
	left: 20%;
	width: 100%;
	height: 100%;
	background-color: #F9FFFF;
	border:1px solid gray;
}
#menuBarPanel{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 12%;
	background-color: #FFFFCC;
	border:1px solid #1A356E

}

.menuBarButton {
	margin-left: 1%;
	width: 110px;
	height: 50px;
	background: #5B74A8;
	background: -moz-linear-gradient(top,#5B74A8 0%,#5B74A8 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5B74A8), color-stop(100%,#5B74A8));
	background: -webkit-linear-gradient(top,#5B74A8 0%,#5B74A8 100%);
	background: -o-linear-gradient(top,#5B74A8 0%,#5B74A8 100%);
	background: -ms-linear-gradient(top,#5B74A8 0%,#5B74A8 100%);
	background: linear-gradient(top,#5B74A8 0%,#5B74A8 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5B74A8',endColorstr='#5B74A8',GradientType=0);
	padding:2px 6px;
	color:#fff;
	font-family:'Helvetica',sans-serif;
	font-size:14px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border:1px solid #1A356E
}

#uploadFile {
	top: 5%;
	left: 5%;
	width: 26%;
	height: 35px;
	font-size: 90%;
	cursor: pointer;
	margin-left: 1%;
	margin-top: 2%;
}

#panelHeader {
	font: normal 'century gothic', arial, sans-serif;
	padding: 15px 0 5px 0;
	text-align: center;
}
#menuBarPanelHeader {
	font: normal 'century gothic', arial, sans-serif;
	padding: 1px 0 1px 0;
}
#rulesPanelSvg {
	top: 20%;
	left: 10%;
	width: 100%;
	height: 100%;
    border-top: thick double #99FFCC;
}

#canvasSvg {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 70%;

}
#canvasGameArea{
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
    border-top: thick double #99FFCC;
	border-bottom-style: dotted;
}
#imageBin{
	position: fixed;
	top: 80%;
	left: 90%;
	width: 5%;
	height: 6%;
    border-top: thick double #99FFCC;
	border-bottom-style: dotted;
}
